@use "./breakpoints" as *;
@use './colors' as *;

.booking-page {
    width: 100%;
    padding-top: 20px;
    @include breakpoint(md) {
        padding-top: 0px;
    }
}

.booking {
    width: 100%;
    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
    .sidebar {
        display: none;
        width: 300px;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        padding: 10px;
        @include breakpoint(md) {
            display: block;
        }
        .wrapper {
            width: 100%;
            height: 100%;
            background-color: $OffWhite;
            border-radius: 20px;
            padding: 20px;
            .sidebar-logo {
                margin-bottom: 30px;
            }
            .nav-progress {
                // border: 1px solid red;
                // width: 100%;
                // height: 100%;
            }
        }
    }
    .main {
        width: 100%;
        height: 100vh;
        @include breakpoint(md) {
            display: flex;
            justify-content: flex-end;
        }
        .wrapper {
            width: 100%;
            height: 100%;
            //border: 1px solid orange;
            // padding-left: 20px;
            // padding-right: 20px;
            padding: 20px 30px 20px 20px;
            @include breakpoint(md) {
                width: calc(100% - 300px)
            }
            .booking-head {
                width: 100%;
                height: 110px;
                border-bottom: 1px solid $MediumGray;
                margin-bottom: 20px;
                @include breakpoint(md) {
                    // height: 100px;
                }
                //border: 1px solid red;
                // padding: 30px;
                h3, h1, h5 {
                    //text-align: center
                    margin: 0px;
                    padding: 0px;
                    line-height: 1.1em;
                }
                h3 {
                    font-size: 14px;
                    font-weight: 300;
                    color:$MediumGray;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                   margin-bottom: 10px;
                }
                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color:$CharcoalBlack;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                }
                h5 {
                    font-size: 16px;
                    font-weight: 300;
                    color:$MediumGray;
                    margin-bottom: 0px;
                }
            }
            .booking-body {
                width: 100%;
                height: calc(100vh - 170px - 60px);
                //border: 1px solid red;
                padding: 5px 20px 30px 0px;
                overflow-y: scroll;
                .step-wrap {
                    width: 100%;
                    .error-div {
                        width: 100%;
                        height: 30px;
                        //border: 1px solid red;
                        .error-text {
                            font-size: 14px;
                            font-weight: 400;
                            color: rgb(245, 87, 87);
                        }
                    }
                }
            }
            .booking-slider-control {
                width: 100%;
                height: 70px;
                //border: 1px solid blue;
                position: fixed;
                bottom: 10px;
                left: 0px;
                background-color: #fff;
                padding: 0px 20px;
                @include breakpoint(md) {
                    height: 70px;
                    position: relative;
                    left: auto;
                    bottom: auto;
                    padding: 0px 0px;
                }
                .wrapper {
                    // border: 1px solid orange;
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // .btn-next {
                    //     background-color: $DeepOliveGreen;
                    //     transition: background-color 0.2s ease;
                    //     span{
                    //         color: #fff;
                    //     }
                    //     ._icon {
                    //         color: #fff;
                    //     }
                    // }
                    // .btn-prev {
                    //     background-color: $OffWhite;
                    //     transition: background-color 0.2s ease;
                    //     span{
                    //         color: $CharcoalBlack;
                    //     }
                    //     ._icon {
                    //         color: $CharcoalBlack;
                    //     }
                    // }
                    .btn-next {
                        width: max-content;
                        height: max-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $DeepOliveGreen;
                        gap: 0.5rem;
                        padding: 10px 30px;
                        border-radius: 5px;

                        font-weight: 600;
                        font-size: 16px;
                        color: #fff;

                        transition: background-color 0.2s ease, color 0.2s ease, transform 0.1s ease;
                        -webkit-user-select: none; /* Chrome, Safari */
                        -moz-user-select: none;    /* Firefox */
                        -ms-user-select: none;     /* old Edge / IE */
                        user-select: none;
                        cursor: pointer;
                        &:hover {
                            background-color: $PaleMint;
                            color: $CharcoalBlack;
                        }
                        &:active {
                            transform: scale(0.97);
                        }
                        @include breakpoint(md) {
                            
                        }
                        span{
                            margin-bottom: 3px;
                        }
                        // ._icon {
                        //     color: #fff;
                        //     font-size: 16px;
                        // }

                    }
                    .btn-prev {
                        width: max-content;
                        height: max-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $OffWhite;
                        gap: 0.5rem;
                        padding: 10px 30px;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $CharcoalBlack;
                        transition: background-color 0.2s ease, transform 0.1s ease;
                        -webkit-user-select: none; /* Chrome, Safari */
                        -moz-user-select: none;    /* Firefox */
                        -ms-user-select: none;     /* old Edge / IE */
                        user-select: none;
                        cursor: pointer;
                        &:hover {
                            background-color: $PaleMint;
                        }
                        &:active {
                            transform: scale(0.97);
                        }
                        span{
                            margin-bottom: 3px;
                        }

                    }
                    .hide-btn {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 1rem; // space-y-4
}

.step {
  @media (min-width: 768px) {
    flex: 1; // md:flex-1
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0 0.5rem 1rem; // py-2 pl-4
    border-left: 4px solid;
    transition: color 0.2s ease, border-color 0.2s ease;
  }

  &__id {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: $CharcoalBlack;
  }

  /* COMPLETED */
  &--completed {
    .step__content {
      border-color: $SoftMintGreen; // sky-600
    }

    .step__id {
      color: $SoftMintGreen;
    }
  }

  /* CURRENT */
  &--current {
    .step__content {
      border-color: $SoftMintGreen;
    }

    .step__id {
      color: $SoftMintGreen;
    }
  }

  /* UPCOMING */
  &--upcoming {
    .step__content {
      border-color: #e5e7eb; // gray-200
    }

    .step__id {
      color: #6b7280; // gray-500
    }
  }
}