@use "./breakpoints" as *;
@use './colors' as *;

.calendar-container {
  // display: flex;
  // gap: 40px;
  // padding: 40px;
  max-width: 900px;
  margin: auto;
  font-family: sans-serif;

  /* LEFT SIDE — CALENDAR */
  .calendar-left {
    flex: 1;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid red;
    h2 {
      font-size: 16px;
      font-weight: 300;
      color: $MediumGray;
    }
  }

  .month-buttons button {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    cursor: pointer;
    &:hover {
      background-color: $OffWhite;
    }
    &:active {
      transform: scale(0.97);
    }
  }

  .weekday-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: $CharcoalBlack;
    font-weight: 500;
    //border: 1px solid red;
  }

  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
    //border: 1px solid red;
  }

  .day-cell {
    text-align: center;
    padding: 6px 0;
  }

  .day-button {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: $CharcoalBlack;
    transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;
  }

  .day-button:hover {
    background-color: $PaleMint;
  }

  .selected {
    background-color: $DeepOliveGreen;
    color: white;
  }

  .dimmed {
    color: #aaa !important;
    font-weight: 300;
    cursor: not-allowed;
  }
  .today {
    color: $SoftMintGreen !important;
    font-weight: 600;
  }
  .dot {
    width: 6px;
    height: 6px;
    background: #007bff;
    border-radius: 50%;
    margin: 4px auto 0;
    display: none;
  }

  /* RIGHT SIDE — MEETINGS */
  //.calendar-right {
  //   flex: 1;
  // }

  // .meeting-list {
  //   margin-top: 15px;
  //   padding: 0;
  //   list-style: none;
  // }

  // .meeting-item {
  //   display: flex;
  //   align-items: center;
  //   gap: 12px;
  //   padding: 10px;
  //   border-radius: 8px;
  //   cursor: pointer;
  // }

  // .meeting-item:hover {
  //   background: #f4f4f4;
  // }

  // .avatar {
  //   width: 40px;
  //   height: 40px;
  //   border-radius: 50%;
  //   object-fit: cover;
  // }

  // .meeting-name {
  //   font-weight: 600;
  // }

  // .meeting-time {
  //   font-size: 13px;
  //   color: #666;
  // }

}
