@use "./breakpoints" as *;
@use './colors' as *;

.guest_details {
    width: 100%;
    .form-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .form-item {
            width: 100%;
            margin-bottom: 20px;
            @include breakpoint(md) {
                width: calc(50% - 20px)
            }
            h3 {
                font-size: 14px;
                font-weight: 300;
                color: $MediumGray;
                margin-bottom: 3px;
            }
            .input-item {
                width: 100%;
                // height: 40px;
                // padding: 5px;

                padding: 10px 14px;
                font-size: 14px;
                border: 1px solid $MediumGray;
                border-radius: 6px;
                outline: none;
                transition: all 0.2s ease;
                background-color: #fff;

                &:hover {
                    border-color: $PaleMint;
                }

                &:focus {
                    border-color: $SoftMintGreen;
                    box-shadow: 0 0 0 3px rgba(159, 255, 104, 0.1);
                }

                &:disabled {
                    background-color: #eee;
                    cursor: not-allowed;
                    color: #777;
                }
            }
        }
    }
}